.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.navbar-brand h3 {
  color: blue;
  font-weight: bold;
  margin-top: 2px;
  margin-left: 5px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.topbar {
  width: 100%;
  height: 4px;
  z-index: 1080;
  background: -webkit-linear-gradient(left, #ff9e00 0%, red 35%, #b5007d 60%, #21429c 85%, #0071ff 100%);
  background-color: rgba(0, 0, 0, 0);
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-attachment: scroll;
  background-image: -webkit-linear-gradient(left, rgb(255, 158, 0) 0%, red 35%, rgb(181, 0, 125) 60%, rgb(33, 66, 156) 85%, rgb(0, 113, 255) 100%);
  background-size: auto;
  background-origin: padding-box;
  background-clip: border-box;
  background: -ms-linear-gradient(left, #ff9e00 0%, red 35%, #b5007d 60%, #21429c 85%, #0071ff 100%);
}

.dropdownsTop {
  z-index: 800;
  position: absolute; 
  /* z-index: 1000;  */
  /* height: 1vh; */
  left:0px;
}

#flightTimesCollapse div, #weatherCollapse div {
  background-color: white;
  width: 20vw;
  
}

#flightTimesCollapse {
  max-height: 60vh;
  width: 20vw;
  overflow: auto;
}

.flightContainer {
  width: 20vw;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.fg-container {
  display: grid;
  grid-template-columns: repeat(1fr, minmax(1fr, 1fr));
  grid-template-rows: minmax(0, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: 1px solid lightgray;
  line-height: 1.6;

  
  overflow: hidden;
  /* min-height: 0;
  min-width: 0;  */
  }

  .fg-flightnumber,
  .fg-fromairport,
  .fg-toairport,
  .fg-departuretime,
  .flight-duration {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    /* vertical-align: middle; */
  }
  
  .fg-flightnumber { grid-area: 1 / 1 / 2 / 4; color: grey;}
  .fg-fromairport { grid-area: 2 / 1 / 3 / 4; padding-top: 15px;}
  .fg-toairport { grid-area: 3 / 1 / 4 / 4; padding-top: 7px;}
  .fg-departuretime { grid-area: 4 / 1 / 5 / 3; padding-top: 12px;}
  .flight-duration { grid-area: 4 / 3 / 5 / 4; padding-top: 12px;}
  
  div.fg-container .fg-flightnumber button {
    background-color: rgb(254, 104, 62);
    color: white;
    border: 0;
    padding: 3px 30px;
    border-radius: 20px;
    
    
  }